spring:
  application:
    name: dairy

  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081

app:
  jwt:
    secret: vElAnThRaLaBsDaIrYmAnAgEmEnTsYsTeM2026S3cReT
    expiration-ms: 86400000
