spring:
  application:
    name: dairy

  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081

app:
  security:
    jwt:
      access-token-expiration: 86400000
      refresh-token-expiration: 604800000
